{% extends "base.html" %}

{% block titulo %} Lista de Libros {% endblock %}

<br>

{% block contenido %} 

<div class="card">
    <div class="card-header">
        <a class="btn btn-primary btn-lg" href="{% url 'newlibro' %}" role="button">Anadir</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Lista de libros</h4>
      
        <table class="table">
           <thead>
               <tr>
                   <th>ID</th>
                   <th>Imagen</th>
                   <th>Titulo</th>
                   <th>Descripcion</th>
                   <th>Acciones</th>
               </tr>
           </thead>
           <tbody>
               {% for libro in libros %}
               <tr>
                   <td>{{ libro.id}}</td>
                   <td>
                       <img src=" {{ libro.imagen.url}}" height="100" >
                       
                    </td>
                   <td>{{ libro.titulo}}</td>
                   <td>{{ libro.descripcion}}</td>
                   <td>
                       <a name="" id="" class="btn btn-info" href="{% url 'editlibro' libro.id  %}" role="button">Editar</a>
                       <a name="" id="" class="btn btn-danger" href="{% url 'eliminar' libro.id %}" role="button">Eliminar</a>
                   </td>
               </tr>
               {% endfor %}
           </tbody>
       </table>
       
    </div>
    <div class="card-footer text-muted">
      
    </div>
</div>

{% endblock %}